@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #100e19;
}

.leaf__fall {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 0;
}
.leaf__fall .leaf {
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
  animation: leaf_falling 8s linear;
}

@keyframes leaf_falling {
  0% {
    top: -50px;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 95vh;
    left: 100%;
    transform: rotate(360deg);
    opacity: 0;
  }
}
header {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
  transition: height 0.2s;
  /*ЛОГОТИП*/
  /*МЕНЮ*/
}
@media (max-width: 800px) {
  header {
    background: rgba(0, 0, 0, 0);
  }
}
header .logo-cont {
  display: flex;
  align-items: center;
  height: 100%;
}
header .logo-cont .logo {
  width: 70px;
  height: 70px;
}
header .logo-cont .site__name {
  font-family: Impact;
  font-size: 40px;
  margin-left: 20px;
  font-weight: 100;
}
@media (max-width: 800px) {
  header .logo-cont .site__name {
    display: none;
  }
}
header .menu {
  height: 100%;
  width: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
header .menu .drop_menu {
  display: flex;
  align-items: center;
  position: relative;
}
header .menu .drop_menu .list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header .menu .drop_menu .list li .bottom-line {
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background-color: white;
  transform: scaleX(0);
  transition: all 0.3s;
}
header .menu .drop_menu .list li a {
  text-decoration: none;
  color: white;
}
header .menu .drop_menu .list li:nth-child(1) {
  display: none;
}
header .menu .drop_menu .list li:not(:nth-child(1), :nth-child(2)) {
  padding-left: 15px;
}
header .menu .drop_menu .list li:hover .bottom-line {
  transform: scaleX(1);
}
@media (max-width: 800px) {
  header .menu .drop_menu .list {
    flex-direction: column;
  }
  header .menu .drop_menu .list li:nth-child(1) {
    display: block;
  }
  header .menu .drop_menu .list li:not(:nth-child(1), :nth-child(2)) {
    border: none;
    padding: 0;
  }
}
@media (max-width: 800px) {
  header .menu .drop_menu {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: end;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.3s;
  }
}
@media (max-width: 800px) {
  header .menu .drop_menu.open {
    transform: translateX(0);
  }
}
header .search__cont {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  gap: 30px;
}
header .search__cont .search__field {
  margin: 0;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
}
@media (max-width: 800px) {
  header .search__cont .search__field {
    transform: scaleX(0);
    transition: all 0.3s;
  }
}
header .search__cont .search__field.open {
  transform: scaleX(1);
}
header .search__cont .search__field:focus {
  background-color: #e6e6e6;
  outline: none;
}
header .search__cont .search__list {
  display: none;
  position: absolute;
  top: 50px;
  z-index: 3;
  margin: 0;
  background-color: gray;
  padding: 0;
  list-style-type: none;
}
header .search__cont .search__list li {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
}
header .search__cont .loup {
  display: block;
}
header .profile {
  margin: 10px;
  display: flex;
  align-items: center;
}
header .profile button {
  width: 80px;
  height: 30px;
  background: none;
  color: white;
  border: none;
}
@media (max-width: 800px) {
  header .profile button {
    display: none;
  }
}
header .profile button .bottom-line {
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background-color: white;
  transform: scaleX(0);
  transition: all 0.3s;
  margin-top: 2px;
}
header .profile button:hover .bottom-line {
  transform: scaleX(0.7);
}
@media (max-width: 800px) {
  header .profile .switch_menu {
    display: block;
    position: relative;
    transition: transform 0.5s;
    width: 30px;
    height: 20px;
  }
  header .profile .switch_menu div {
    border: 1px solid white;
    position: absolute;
    width: 100%;
    transition: all 0.7s;
  }
  header .profile .switch_menu div:nth-child(1) {
    top: 0;
  }
  header .profile .switch_menu div:nth-child(2) {
    top: 50%;
  }
  header .profile .switch_menu div:nth-child(3) {
    top: 100%;
  }
  header .profile .switch_menu.open div {
    transition: all 0.5s ease-out;
  }
  header .profile .switch_menu.open div:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  header .profile .switch_menu.open div:nth-child(2) {
    top: 50%;
    display: none;
  }
  header .profile .switch_menu.open div:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
}

footer {
  height: 300px;
  background-color: #07060c;
  position: relative;
  z-index: 2;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  margin: auto;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .search__container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .search__container .search__wrapper {
  width: 40%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  position: relative;
}
main .search__container .search__wrapper img {
  width: 25px;
  height: 25px;
  position: absolute;
  margin-right: 10px;
}
main .search__container .search__wrapper img:hover {
  cursor: pointer;
}
main .search__container .search__wrapper .main__search__field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 25px;
}
main .filters__bar {
  border-radius: 4px;
  width: 80%;
  background-color: white;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  main .filters__bar {
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
    height: auto;
  }
}
main .filters__bar .selector {
  border-radius: 4px;
  margin: auto;
  width: 90%;
  height: 50px;
  background-color: rgb(62, 62, 240);
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 50px;
}
main .filters__bar .selector span {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
main .filters__bar .selector span:after {
  content: "▼";
  font-size: 15px;
}
main .filters__bar .selector .dropDown__content {
  border-radius: 4px;
  display: none;
  top: 55px;
  position: absolute;
  z-index: 2;
  min-width: 100%;
  width: auto;
  height: auto;
  padding: 10px;
}
main .filters__bar .selector .dropDown__content ul {
  list-style: none;
  padding-left: 0;
  width: auto;
}
main .filters__bar .selector .dropDown__content ul:nth-child(2) {
  margin: 0;
  padding: 0;
}
main .filters__bar .selector .dropDown__content ul:nth-child(2) li {
  height: auto;
  display: flex;
  flex-direction: row;
}
main .filters__bar .selector .dropDown__content ul:nth-child(2) li input {
  margin: 5px;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: none;
}
main .filters__bar .selector.open .dropDown__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
}
main .filters__bar .selector.open span:after {
  display: inline-block;
  transform: rotate(180deg);
}/*# sourceMappingURL=search_styles.css.map */