html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    /* overflow-x: hidden; */
}
*{
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: space-between;
    align-items: start;
}

.menu_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.menu_content > *{
    margin-left: 20px;
}
.search{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    
}
.search > input{
    margin: 0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.search > input:focus {
    background-color: rgb(199, 199, 199);
    outline: none;
}
.search_drop_list{
    display: none;
    position: absolute;
    z-index: 3;
    top: 100%;
    margin: 0;
    color: red;
    background-color: gray;
    padding: 0;
    list-style-type: none;
}

.search_drop_list > li {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
}


.drop_menu{
    height: 80px;
    display: flex;
    position: relative;

    z-index: 2;
        align-items: end;
    flex-direction: column;
}


.list-hide{
    position: absolute;

    top: 80px;
    margin: 0;
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
    display: none;

}
.list{

    display: block;
}
.list li{
    background-color: gray;
    position: relative;
    color: red;
    border: 1px solid gray;
    }

.top-arrow{
    position: relative;
    top: 20px;
    transform: rotate(90deg);
    transition: 0.5s;
    margin: 0;
    margin-left: var(--general);
    margin-right: var(--general);
}

.top-arrow-up{
    transform: rotate(90deg) rotateY(180deg);

}

.logo{
    width: 40px;
    height: 50px;

}
.logo-link{
    text-decoration: none;
    color: white;

}
.logo-cont{

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 2;
}
/*МЕНЮ В ХЭДЕРЕ*/
:root{
    --general: 20px; 
    --bg: url('interface_items/arrow.png')
}
/*ну да она не нужна, просто по приколу тут*/

.topMenu-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.registration{
    text-decoration: none;
    color: white;
}
.user-image{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-left: 10px;
}


main{
    display: flex;
    flex-direction: row;
    width: 100%;
}
  
p{
    margin: 0;
   text-align: center;

}
.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.swiper .swiper-button-next, .swiper .swiper-button-prev{ 
    width: 20px;

}
.swiper .swiper-button-next::after, .swiper .swiper-button-prev::after{ 
    font-weight: bold;


}


.swiper{
    width: 1280px;
    height: 540px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.swiper .swiper-wrapper{
    display: flex;
    align-items: center;
}

.swiper .swiper-slide{
    position: relative;
    z-index: 2;
    height: 100%;
}
.swiper .swiper-slide-prev{
    height: 80%;
    width: 100%;
    position: relative;
    left: 20%;
    z-index: 1;
}
.swiper .swiper-slide-next{
    height: 80%;
    width: 100%;
    position: relative;
    right: 20%;
    z-index: 1;
}
.swiper .swiper-slide > img{
    border: 10px solid gray;
    object-fit:fill;
    border-radius: 15px;
}
.local_img{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}
#dynamic{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
}
.img-cont{
    width: 50%;
    box-shadow: inset 30px 0px 20px rgba(0,0,0,1);
    border-left: 4px solid black;
    display: flex;
    flex-direction: row;
}
.dynamic_img{

    position: relative;
    z-index: -2;
    width: 100%;
    height: 100%;
}
.title{
    box-shadow: 10px 0px 10px rgba(0,0,0,1);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    
}

.display_mode{
    width: 20px;
    height: 20px;
    position: sticky;
    top:50%;
    right: 95%;
    z-index: 3;
}

.catalog{
    width: 100%;
    position: relative;
    /* flex-grow: 1; */
    justify-content: center;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(2, 400px);
}
.catalog-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.card{
    width: 222px;
    height: 320px;
    border: 1px solid black;
    position: relative;
    word-wrap: break-word;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.poster{
   min-width: 200px;
   max-height: 260px; 
}

.desc{

    display: none;
}
.name_of_title{
    width: 100%;
    text-align: center;
    text-decoration: none;
    word-break: break-all;
}
.list_mode{
    display: grid;
    height: 320px;
    justify-content: start;
    border: 1px solid gray;
    grid-template-areas:
    "B . C"
    "B . C"
    "A . C";

    grid-template-columns: 200px 20px 1fr;
}
.list_mode > .poster{
    grid-area: B;
    max-height: 280px; 
}
.list_mode > .desc{

    grid-area: C;
    align-self: center;
}
.list_mode > .name_of_title{
    grid-area: A;
}
.more{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 70px;

}

/*НАВ БАР*/
.navbar{
    width: 150px;
    height: 300px;
    background-color: gray;
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 90px;
    transition: 0.1s linear;
}
.open_close_navbar{
    display: none;
}
.if_page_scroll{
    padding-top: 20px;
    
}


.loading{
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: 2;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px;
}
.spinner{
    width: 50px;
    height: 50px;
    background-image: url('../interface_items/loading.png');
    background-size: cover;
    animation: spinning 2s infinite;
    

}

@keyframes spinning{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

/*на других мониторах*/
@media (min-width: 1000px) and (max-width: 1600px) {
    .search{
        width: 80%;
    }
    .swiper{
        width: 800px;
        height: 350px;
    }

    .catalog{
        grid-template-columns: repeat(3, 350px);
    }
    .catalog-list{
        width: 75%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        
    }

    .swiper .swiper-slide > img{
        border: 7px solid gray;
    }
}

/*для мобилки*/
@media(max-height: 700px)
{
    .display_mode{
        top:70%;

    }
}
@media (max-width: 1000px) {


    .menu{
        width: 100%;
        position: absolute;
        background-color: black;
    }
    .button_state{
       background-image: url('../interface_items/close.png');
        background-size: cover;
        background-color: white;
       width: 40px;
       height: 40px;
       margin: 10px;
       float: right;

    }
    .button_state.open{
        background-image: url('../interface_items/open.png');
        background-color: white;
 
     }

    .menu_content > *{
        margin-top: 10px;
        margin-left: 0;
    }
    .menu_content{
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    


    .list_mode{
        grid-template-columns: 90px 20px 1fr;
        height: 130px;
    }
    .list_mode > .poster{
        max-height: 110px; 
    }
    .name_of_title{
        width: 100%;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
    }
    .swiper{
        width: 276px;
        height: 149px;

    }
    .swiper .swiper-slide > img{
        border: 4px solid gray;
    }
    
    .swiper .swiper-button-next::after, .swiper .swiper-button-prev::after{ 
        font-size: 25px;
    }
    .swiper .swiper-button-next, .swiper .swiper-button-prev{ 
        width: 10px;
    }
    .loading{

        height: 320px;
    }
    .spinner{
        width: 20px;
        height: 20px;

    
    }
    .img-cont{
        width: 50%;
        box-shadow: inset 20px 0px 10px rgba(0,0,0,1);
    }
    .catalog{
        /*Сделать списком вертикальным а не сеткой*/
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(2, 160px);

    } 
    .catalog-list{
        width: 80%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }

    .card{
        border-radius: 15px;
        width: 90px;
        height: 130px;
        overflow: hidden;
    }
    .title{
        font-size: 12px;
        text-align: center;

    }

    .poster{
    min-width: 90px;
    max-height: 110px; 

    }

    .desc{
        width: 100%;

    }
    input{
        margin-top: var(--general);  
        width: 100px;
        height: 30px;
    }

    .navbar{
        top:124px;
    }
    .navbar-cont{
        width: 100%;
        height: 100vh;
        position: fixed;
        top:0;
        display: none;
        background-color: rgba(0,0,0,0.3);
    
    }
    .open_close_navbar{
        position: fixed;
        z-index: 4;
        height: 24px;
        display: block;
    }
    .navbar-cont-on{
        display: block;
        z-index: 3;
    }


    p{
        font-size: 8px;
    }
}